html {
    background: palevioletred;
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 40rem;
    height: 40rem;
    border: 15px solid black;
    border-radius: 50%;
    margin: 10px auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hands {
    position: relative;
    width: 80%;
    height: 80%;
}

.clock-centre {
    position: fixed;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: black;
}

.twelve, .three, .six, .nine {
    position: absolute;
    background: black;
}

.twelve, .six {
    width: 1%;
    height: 40px;
}

.twelve {
    top: 0;
    right: 49.5%;
}

.six {
    bottom: 0;
    right: 49.5%;
}

.three, .nine {
    width: 40px;
    height: 1%;
}

.three {
    right: 0;
}

.nine {
    left: 0;
}

.hand {
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.21, 2.18, 0.58, 1);
}

.hour-hand, .min-hand {
    width: 50%;
    height: 8px;
    background: black;
}

.second-hand {
    width: 50%;
    height: 3px;
    background: lightgray;
}
